.icons{
    border: 0.5px solid #e8eaee;
    display: flex;
    align-items: baseline;
    margin-top: 50px;
}
.items{
    display: flex;
    border: 0.5px solid #e8eaee;
    padding: 13px;
}
.tailwind{
    
    margin-left: 90px;
    
}
.items img{
    width: 63px;
}